@import url(http://fonts.googleapis.com/css?family=Roboto);
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+bash+less+php+php-extras+sql */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgba(238, 238, 238, 0.4);
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #999;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.function {
  color: #DD4A68;
}
.token.regex,
.token.important,
.token.variable {
  color: #e90;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.callout {
  padding: 10px 14px;
  margin: 20px 0;
  border-left-width: 4px;
  font-size: 14px;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout + .callout {
  margin-top: -5px;
}
.callout-success {
  border-left-color: #5cb85c;
  background-color: #f3f8f3;
}
.callout-success h4 {
  color: #5cb85c;
}
.callout-danger {
  border-left-color: #d9534f;
  background-color: #fdf7f7;
}
.callout-danger h4 {
  color: #d9534f;
}
.callout-warning {
  border-left-color: #f0ad4e;
  background-color: #fcf8f2;
}
.callout-warning h4 {
  color: #f0ad4e;
}
.callout-info {
  border-left-color: #5bc0de;
  background-color: #f4f8fa;
}
.callout-info h4 {
  color: #5bc0de;
}
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #26A9FF;
}
a:hover,
a:focus {
  color: #0073bf;
  text-decoration: none;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
pre {
  border: none;
  border-radius: 0px;
}
:not(pre) > code {
  border-radius: 2px;
  padding: 1px 4px;
  background-color: rgba(0, 0, 0, 0.06);
  color: #333;
}
.docs-navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #26A9FF;
  border-color: #26A9FF;
}
.docs-navbar .navbar-nav > li > a {
  color: #fff;
}
.docs-navbar .navbar-nav > li > a:focus,
.docs-navbar .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}
.docs-navbar .navbar-nav > li.active > a {
  color: #ffffff;
}
.docs-navbar .navbar-nav > li > .dropdown-menu {
  border-radius: 2px;
}
.docs-navbar .dropdown a {
  text-transform: capitalize;
}
.docs-navbar .navbar-nav > .open > a,
.docs-navbar .navbar-nav > .open > a:focus,
.docs-navbar .navbar-nav > .open > a:hover {
  background-color: #0092f2;
}
.docs-navbar .navbar-text {
  color: #fff;
}
.docs-navbar .navbar-right > li > a {
  color: rgba(255, 255, 255, 0.8);
}
.docs-navbar .navbar-brand {
  color: #fff;
}
.docs-navbar .navbar-brand:focus,
.docs-navbar .navbar-brand:hover {
  color: #fff;
}
.docs-navbar .navbar-toggle .icon-bar {
  background: #fff;
}
.docs-navbar .navbar-collapse {
  padding-right: 0px;
}
@media (max-width: 768px) {
  .docs-navbar .dropdown-menu > li > a {
    color: #fff;
  }
}
.docs-navbar .docs-nav-toc {
  display: none;
}
@media (max-width: 768px) {
  .docs-navbar .docs-nav-toc {
    display: block;
  }
}
@media (max-width: 992px) {
  .docs-sidebar {
    display: none;
  }
}
.docs-toc {
  padding: 45px 20px 45px 0;
  margin-bottom: 60px;
  top: 51px;
  border-right: 1px solid #eee;
}
.docs-toc ul li {
  border-bottom: 1px dashed #eee;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 5px 0;
}
.docs-toc ul li.active a {
  color: #26A9FF;
  font-weight: bold;
}
.docs-toc ul li > p {
  font-size: 18px;
}
.docs-toc ul li a {
  color: #666;
}
.docs-toc ul li a:hover,
.docs-toc ul li a:focus {
  color: #337ab7;
}
.docs-toc ul li ul {
  margin-bottom: 25px;
}
.docs-toc ul li ul li {
  border-bottom: none;
  margin-bottom: 0;
  padding: 0;
  font-size: 14px;
}
.docs-content {
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
}
.docs-content h2 {
  border-top: 1px solid #f0f2f1;
  padding-top: .75em;
  margin-top: .25em;
  margin-bottom: .4em;
}
.docs-content h3 {
  font-size: 22px;
}
.docs-content h1 + ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 20px;
}
.docs-content h1 + ul li:before {
  content: "# ";
  margin-right: .25em;
  color: #008CBA;
  opacity: .3;
}
.docs-content h1 + ul ul {
  list-style: none;
  font-size: 15px;
  font-weight: 400;
}
.docs-content h1 + ul h2 {
  font-size: 30px;
  font-weight: 400;
}
.docs-content h1 + ul h2 a {
  color: #525252;
}
.docs-content img {
  width: auto !important;
  width: 100%;
  max-width: 100%;
}
.docs-content .header-anchor {
  font-size: 50%;
  font-weight: normal;
  line-height: 1;
  color: #777;
}
.docs-content .header-anchor:before {
  font-family: 'Glyphicons Halflings';
  content: " \e144";
}
.docs-content .embed-responsive {
  margin: 20px 0;
}
.error-page h2 {
  text-align: center;
}
.error-page h2 span {
  color: #aaa;
}
