.callout {
    margin: 20px 0;
    font-size: 14px;
    padding: 10px 14px;
    border-left-width: 4px;

    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    &+.callout {
        margin-top: -5px;
    }
}

@mixin callout-variant($color, $bg-color) {
    border-left-color: $color;
    background-color: $bg-color;

    h4 {
        color: $color;
    }
}

.callout-success {
    @include callout-variant(#5cb85c, #f3f8f3);
}

.callout-danger {
    @include callout-variant(#d9534f, #fdf7f7);
}

.callout-warning {
    @include callout-variant(#f0ad4e, #fcf8f2);
}

.callout-info {
    @include callout-variant(#5bc0de, #f4f8fa);
}
