.docs-content {
    padding: 35px 20px 20px;
    background: #fff;
    box-sizing: border-box;

    h1 {
        font-size: 40px;
        font-weight: 200;
    }

    h2 {
        margin-top: .25em;
        padding-top: .75em;
        margin-bottom: 20px;
        border-top: 1px solid #f0f2f1;
    }

    h3 {
        font-size: 22px;
    }

    h1 + ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        padding-bottom: 20px;

        li:before {
            opacity: .3;
            content: "# ";
            color: #008CBA;
            margin-right: .25em;
        }

        ul {
            font-size: 15px;
            font-weight: 400;
            list-style: none;
        }

        h2 {
            font-size: 30px;
            font-weight: 400;

            a {
                color: #525252;
            }
        }
    }

    img {
        width: 100%;
        max-width: 100%;
        width: auto !important;
    }

    .header-anchor {
        line-height: 1;
        font-size: 50%;
        font-weight: normal;

        &:before {
            content: " \e144";
            font-family: 'Glyphicons Halflings';
        }
    }

    .embed-responsive {
        margin: 20px 0;
    }
}
