$text-color: #525252;
$font-family-base: "Source Sans Pro", sans-serif;

// Navbar
$navbar-margin-bottom: 0px;
$navbar-border-radius: 0px;
$navbar-default-bg: #3097d1;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-link-color: rgba(255, 255, 255, 0.9);
$navbar-default-brand-color: #fff;
$navbar-default-brand-hover-color: #fff;
$navbar-default-toggle-icon-bar-bg: #fff;

// Links
$link-hover-decoration: none;

// Icons
$icon-font-path: "../fonts/";
