@import url(http://fonts.googleapis.com/css?family=Roboto);

@import 'docs/prism';
@import 'docs/callouts';

body {
    font-family: Roboto, sans-serif;
    line-height: 1.5em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #26A9FF;

    &:hover,
    &:focus {
        color: #0073bf;
        text-decoration: none;
    }
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

pre {
    border: none;
    border-radius: 0px;
}

:not(pre) > code {
    border-radius: 2px;
    padding: 1px 4px;
    background-color: rgba(0, 0, 0, 0.06);
    color: #333;
}

@import 'docs/navbar';
@import 'docs/sidebar';
@import 'docs/content';

.error-page h2 {
    text-align: center;

    span {
        color: #aaa;
    }
}
